# Server Port
PORT=3001

# TiDB / MySQL Database Configuration
DB_HOST=gateway01.ap-northeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=3su1dbozfvCWMUB.root
DB_PASSWORD=NSByOe0HSFhu7Nbf
DB_NAME=expense_manager
DB_SSL=true

# CORS Allowed Origin (set to frontend production URL on Render or * for all)
FRONTEND_URL=*
